html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: min(5vw,5vh);
    text-align: center;
}

div {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-size: min(3vh,3vw);
}


div.grid {
    display: flex;
    flex-direction: column;
    border: 0.1em solid black;
    justify-content: center;
    align-items: center;
    height: min(70vw,70vh);
    width: min(70vw,70vh);
    margin-top: min(2vw,2vh);
}

div.row {
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

div.item {
    display: flex;
    flex-grow: 1;
}

div.with-border {
    border: 0.05em solid black;
}

input.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 96%;
    height: 1vh;
    background: rgb(71, 71, 71);
    border-radius: 0.6em;
}

input.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4vh;
    height: 4vh;
    border-radius:50%;
    background: white;
    border: 0.2em solid rgb(71, 71, 71);
}

input.checkbox {
    -webkit-appearance: none;
    appearance: none;
    width: 3vh;
    height: 3vh;
    border: 0.1em solid rgb(71, 71, 71);
    border-radius:12.5%;
    white-space: nowrap;
}

input.checkbox:checked {
    width: 3vh;
    height: 3vh;
    border: 0.1em solid rgb(71, 71, 71);
    background: rgb(71, 71, 71);
    border-radius:12.5%;
}


button {
    -webkit-appearance: none;
    appearance: none;
    display: flex;
    height: 4vh;
    width: 16vh;
    background: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 0.1em solid rgb(71,71,71);
    flex-wrap: nowrap;
    white-space: nowrap;
}

.grid-size {
    font-size: min(40vh,40vw);
}

.section-main, .section-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-options {
    display: flex;
    flex-direction: column;
    width: min(70vw,70vh);
    height: 14vh;
    gap: 0.4vw;
}

.section-slider {
    gap: 0.4em;
    padding: 0.2em;
}

.options {
    display: flex;
    flex-direction: row;
    padding: 0.4vw;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    text-align: center;
    justify-content: space-between;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
}

.option.color span {
    position: relative;
    width: 2.6vh;
    height: 2.6vh;
    padding: 0;
    border: 0.1em solid transparent;
    border-radius: 12.5%;
}

.option.color input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    width: 2vh;
    height: 2vh;
}