html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: min(5vw,5vh);
}

div {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1em solid gray;
    padding: 0.2em;
    border-radius: 0.5em;
    height: min(10vw,5vh);
    width: min(20vw,10vh);
    font-size: 2.4vh;
    text-align: justify;
    white-space: nowrap;
    
}

div.grid {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    height: min(70vw,70vh);
    width: min(70vw,70vh);
    margin-top: min(2vw,2vh);
}

div.row {
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

div.item {
    display: flex;
    flex-grow: 1;

}

.marked {
    background-color: blue;
}

input {
    width: 100%;
    height: 100%;
}

.grid-size {
    font-size: min(2em,20vh,20vw);
}

.section-main, .section-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-options {
    flex-direction: column;
    width: min(70vw,70vh);
    border: 2px solid blue;
}

.section-slider {
    border: 2px solid red;
    float: right;
}

.options {
    border: 2px solid green;
    float: left;
    flex-wrap: wrap;
}